{% extends "base.html" %} 
{% load static %} 

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %} 


{% block content %}
        <div class="container h-75 pb-5">
            <div class="row h-100">
                <div class="col-12   bkgrd1 h-auto w-auto rounded">
                <h1 class="display-4 mt-5 pad-t">Sustainable farming at its best</h1>
                    <div class="mt-5">
                        <h4>
                            <a href="{% url 'products' %}" class="results-button btn btn-lg rounded-2 py3">See the Results</a>
                        </h4>                        
                    </div>
                </div>
                <!--
                <div class="col-12 col-md-6  bg-white h-auto w-auto rounded">                
                        <h1 class="display-4 pad-t">Farm to fork . . . . .</h1>
                </div>-->
            </div>
        </div>

        <div class="container h-75 pb-5">
            <div class="row h-100 rounded">
                <div class="col-12 col-md-6 bg-dark h-auto w-auto rounded">
                <h1 class="display-4 text-light pad-t">Farm to fork . . . . .</h1>                
                    <h2 class="mt-5 text-light p-2 mob-font ">        
                        Welcome to Foyle Valley Farming Our mission is to provide great welfare for animals, people and the planet.
                        We’re here to help you eat ethical and sustainable food. We do that with a number of Farm Share schemes that let you share in the harvest and support the people that produce it.
                        Since 1999, we’ve been farming and selling our meat, veg and eggs direct from our farm.
                    </h2>
                </div>
                <div class="col-12 col-md-6 bkgrd2 h-100 w-auto rounded">                
                    <h1 class="display-4 mt-5">Ethical animal husbandry practises</h1>
                </div>
            </div>
        </div>

        <div class="container h-75 pb-5">
            <div class="row h-100 pb-2">
                <div class="col-12 col-md-6 h-100 bg-dark w-auto">                
                    <h1 class="mt-5 text-light p-5 mob-font">        
                        Map going here
                    </h1>
                </div>
                <div class="col-12 col-md-6 h-100 w-auto pb-5">                
                    <h1 class="display-4 mt-5 pad-t">Contact</h1>
                </div>
            </div>
        </div>
{% endblock %}