<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="butcher-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Butchers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="butcher-link">
                <a href="{% url 'products' %}?category=beef" class="dropdown-item">Beef</a>
                <a href="{% url 'products' %}?category=pork" class="dropdown-item">Pork</a>
                <a href="{% url 'products' %}?category=chicken" class="dropdown-item">Chicken</a>
                <a href="{% url 'products' %}?category=lamb" class="dropdown-item">Lamb</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="Bakery-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Bakery & Dairy
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="Bakery-link">
                <a href="" class="dropdown-item">Bread</a>
                <a href="" class="dropdown-item">Buns</a>  
                <a href="" class="dropdown-item">Dairy</a>              
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="garden-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Garden Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="garden-link">
                <a href="" class="dropdown-item">Fruit & Veg</a>
                <a href="" class="dropdown-item">Flowers</a>
                <a href="" class="dropdown-item">Gardening</a>                
            </div>
        </li>
    </ul>
</div>