
<ul class="fixed-bottom bg-dark text-center ml-5 mr-5 d-block d-lg-none">
<li class="list-inline-item  ">    
        <a href="#" class="text-white nav-link d-block d-lg-none " ><i class="fab fa-twitter-square fa-lg "></i></a>      
</li>
<li class="list-inline-item  ">    
        <a href="#"  class="text-white nav-link d-block d-lg-none "><i class="fab fa-facebook-square fa-lg "></i></a>
    
</li>
<li class="list-inline-item   ">
    
        <a href="#" class="text-white nav-link d-block d-lg-none " ><i class="fab fa-instagram-square fa-lg "></i></a> 
  
</li>
<li class="list-inline-item ">    
        <a href="#" class="text-white nav-link d-block d-lg-none " ><i class="fab fa-snapchat-square fa-lg "></i></a> 
  
</li>
</ul>
